<form [formGroup]="signup" (ngSubmit)="ngOnSubmit()">
<table>
  <tr>
    <td>Email</td>
    <td><input  name="email" [formControl]="signup.controls['email']" class="col-sm-12"/></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><input name="nome" [formControl]="signup.controls['nome']" class="col-sm-12"/></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" name="password" [formControl]="signup.controls['password']" class="col-sm-12" style="float:right"/></td>
  </tr>
</table>
<div *ngIf="!signup.valid">Campi non corretti</div>
    <button type="submit"  [disabled]="!signup.valid">Registrati</button>
</form>
