<form [formGroup]="signup" (ngSubmit)="ngOnSubmit()">
<table>
  <tr>
    <td>Email > </td>
    <td><input  name="email" onfocus="this.value=''" [formControl]="signup.controls['email']"/></td>
  </tr>
  <tr>
    <td>Username > </td>
    <td><input name="nome" onfocus="this.value=''" [formControl]="signup.controls['nome']"/></td>
  </tr>
  <tr>
    <td>Password > </td>
    <td><input type="password"  onfocus="this.value=''" name="password" [formControl]="signup.controls['password']"/></td>
  </tr>
</table>
<div *ngIf="!signup.valid">Campi non corretti</div>
    <button type="submit"  [disabled]="!myForm.valid">Registrati</button>
</form>
